body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4c5;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 35px;
    border-radius: 19px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#new-task {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

#add-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#task-list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 26px;
    
}

#task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 8px;
    background: #e9ecef;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.delete-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}